---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Calculator from '@/components/Calculator.vue';
import i18n from '@/i18n/de.json';
import talents from '@/data/talents.json';
---

<BaseLayout title={i18n.pageTitle} i18n={i18n}>
  <h1>{i18n.title}</h1>
  <h2>{i18n.subTitle}</h2>

  <Calculator :i18n={i18n} :preloadedData={talents} client:only="vue" />
</BaseLayout>